<table class="data-table data-table-flexbox">
    <tr>
        <th>
            {locale group="quiqqer/matomo" var="user.profile.title"}
        </th>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/matomo" var="user.profile.login"}
                </span>
                <input name="quiqqer.matomo.login" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/matomo" var="user.profile.pass"}
                </span>
                <input name="quiqqer.matomo.pass" class="field-container-field"/>
            </label>
            <div class="field-container-item-desc">
                {locale group="quiqqer/matomo" var="user.profile.pass.description"}
            </div>
        </td>
    </tr>
</table>