parameters:
	ignoreErrors:
		-
			message: "#^Call to static method getCategory\\(\\) on an unknown class QUI\\\\ERP\\\\Products\\\\Handler\\\\Categories\\.$#"
			count: 1
			path: ajax/ecommerce/getCategoryData.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: ajax/ecommerce/getOrderData.php

		-
			message: "#^Access to constant FIELD_PRODUCT_NO on an unknown class QUI\\\\ERP\\\\Products\\\\Handler\\\\Fields\\.$#"
			count: 1
			path: ajax/ecommerce/getProductData.php

		-
			message: "#^Call to static method getProduct\\(\\) on an unknown class QUI\\\\ERP\\\\Products\\\\Handler\\\\Products\\.$#"
			count: 1
			path: ajax/ecommerce/getProductData.php

		-
			message: "#^Access to constant FIELD_PRODUCT_NO on an unknown class QUI\\\\ERP\\\\Products\\\\Handler\\\\Fields\\.$#"
			count: 1
			path: ajax/ecommerce/getTrackData.php

		-
			message: "#^Call to method import\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Basket\\\\BasketGuest\\.$#"
			count: 1
			path: ajax/ecommerce/getTrackData.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: ajax/ecommerce/getTrackData.php

		-
			message: "#^Call to static method getProduct\\(\\) on an unknown class QUI\\\\ERP\\\\Products\\\\Handler\\\\Products\\.$#"
			count: 1
			path: ajax/ecommerce/getTrackData.php

		-
			message: "#^Call to static method hidePrice\\(\\) on an unknown class QUI\\\\ERP\\\\Products\\\\Utils\\\\Package\\.$#"
			count: 1
			path: ajax/ecommerce/getTrackData.php

		-
			message: "#^Instantiated class QUI\\\\ERP\\\\Order\\\\Basket\\\\BasketGuest not found\\.$#"
			count: 1
			path: ajax/ecommerce/getTrackData.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: ajax/ecommerce/getTrackDataForOrderProcess.php

		-
			message: "#^Call to static method getProduct\\(\\) on an unknown class QUI\\\\ERP\\\\Products\\\\Handler\\\\Products\\.$#"
			count: 1
			path: ajax/ecommerce/getTrackDataForOrderProcess.php

		-
			message: "#^Parameter \\$Registrar of method QUI\\\\Matomo\\\\EventTracking\\:\\:onQuiqqerFrontendUsersUserActivate\\(\\) has invalid type QUI\\\\FrontendUsers\\\\RegistrarInterface\\.$#"
			count: 2
			path: src/QUI/Matomo/EventTracking.php

		-
			message: "#^Parameter \\$Registrar of method QUI\\\\Matomo\\\\EventTracking\\:\\:onQuiqqerFrontendUsersUserRegister\\(\\) has invalid type QUI\\\\FrontendUsers\\\\RegistrarInterface\\.$#"
			count: 2
			path: src/QUI/Matomo/EventTracking.php
